.attribution {
  position: absolute;
  bottom: 5px;
  font-size: 11px;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  width: 340px;
  height: 590px;
  background-color: var(--darkBlueCard);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card img{
   width: 300px;
   height: 300px;
   border-radius: 15px;
   margin-bottom: 20px;
}

h3{
   font-size: 1.5em;
   color: var(--white);
   font-weight: 600;
   margin-bottom: 20px;
}

.line{
   height: 1px;
   color: var(--darkBlueLine);
   background-color: var(--darkBlueLine);
}

p{
   color: var(--softBlue);
}

span{
   color: var(--white);
}

.wrapper-eth-date{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px 0 20px 0;
}

.wrapper-eth-date .paragh-cyan{
   display: flex;
   color: var(--cyan);
}

.wrapper-eth-date .paragh-clock{
   display: flex;
}

.wrapper-eth-date p i{
   display: flex;
   align-items: center;
}

.wrapper-eth-date i img{
   width: 12px;
   height: 20px;
   margin: auto 5px auto 0;
}

.wrapper-eth-date .paragh-clock i img{
   width: 18px;
   height: 20px;
   margin: auto 5px auto 0;
}

.wrapper-creation{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-top: 20px;
}

.wrapper-creation img{
   background-color: darkgray;
   width: 32px;
   height: 32px;
   border: 1px solid var(--white);
   border-radius: 50%;
   margin: auto 20px auto 0;
}
